.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  padding-top: 40px; /* Account for fixed header */
  border-left-style: dashed;
  border-left-width: 3px;
  border-left-color: var(--y-axis-red);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding-top: 100px;
  }
  
    
  .contactInfo {
    flex-direction: column;
    gap: 0.5rem;
  }
}


